<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LaNuevaColmena.My.MySettings.La_Nueva_ColmenaConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\La Nueva colmena.mdb&quot;;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="LaNuevaColmena.My.MySettings.La_Nueva_colmenaConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\La Nueva colmena.mdb&quot;;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
</configuration>
